* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  letter-spacing: 0.05em;
  /* overflow: hidden; */
  
}

html {
  font-size: calc(12px + (24 - 12) * ((100vw - 200px) / (1024 - 200)));
}

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.App {
  text-align: center;
  background-color: rgb(216, 212, 212);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: 'Mulish', sans-serif;
}

.main{
  display: flex;
  width: 80vw;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  padding:5vh;
}

.navBar{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #f58855;
  padding-left: 2vh;
  padding-right: 2vh;
  height: 5vh;
}

.navBar > *{
  margin-right: 10%;
  margin-left: 10%;
}

.titulo{
  width: 100%;
  font-size: 1rem;
  padding-bottom: 2vh;
  border-bottom: #f58855 3px solid;
}

.row{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 10vh;
  justify-content: space-between;
}

.cards{
  width: 33vw;
  /* height: 25vw; */
  display: flex;
  flex-direction: column;
  box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.75);
  border: #f58855 2px solid;
  padding: 2vh;
  padding-bottom: 4vh;
  /* margin-top: 1vh;  */
  font-size: 1vw;
}


.imagenClima{
  width: 40%;
  align-self: center;
}

.contReporte{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left{

  text-align: left;

}

.right{

  text-align: right;

}

.columnaReporte{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding-top: 1vh;
}

.contBuscar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer{
  background-color: black;
  color: white;
  font-size: .5rem;
}

.elinput{
  height: 4vh;
  font-size: .5rem;
  width: 90%;
  margin-left: 4%;
  color: rgb(73, 73, 73);
  text-align: left;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  border-bottom: white solid 1px;
}

.submit {
  align-self: center;
  font-size: .7rem;
  width: 100%;
  color: #f7e6de;
  padding: 1%;
  background-color: #f58855;
  border: none;
  cursor: pointer;
  margin-top: 2%;
  transition: 0.3s all;
}

.titulo--section{
  border-bottom: rgb(14, 40, 112) 2px solid;
  padding: 1vh;
  font-size: .7rem;
  color: rgb(14, 40, 112);
}

.label{
  padding-top:2vh;
  padding-left:2vh;
  font-weight: bold;
}

.dia{
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-top: 1vh;
}
.estado-dia{
  font-size: .5rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.temperatura{
  font-size: 2rem;
}
.en-faren{
  font-size: .6rem;
  padding-top: 1vh;
}

.paisciudad{
  padding-top: 1vh;
  font-size: .5rem;
  opacity: .6;
}

.detalles-reporte{
  font-size: .5rem;
}

.grados{
  display: flex;
  flex-direction: row;
  font-size: .6rem;
  padding-right: 1vh;
  padding-top: 1vh;
}